<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>servlet.UserAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>servlet.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>servlet.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    
      <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>servlet.UserSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
     
     
    <servlet>
        <servlet-name>SceneryAddServlet</servlet-name>
        <servlet-class>servlet.SceneryAddServlet</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>SceneryAddServlet</servlet-name>
        <url-pattern>/addScenery</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>SceneryDeleteServlet</servlet-name>
        <servlet-class>servlet.SceneryDeleteServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>SceneryDeleteServlet</servlet-name>
        <url-pattern>/deleteScenery</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>SceneryUpdateServlet</servlet-name>
        <servlet-class>servlet.SceneryUpdateServlet</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>SceneryUpdateServlet</servlet-name>
        <url-pattern>/updateScenery</url-pattern>
    </servlet-mapping>
    
      <servlet>
        <servlet-name>ScenerySearchServlet</servlet-name>
        <servlet-class>servlet.ScenerySearchServlet</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>ScenerySearchServlet</servlet-name>
        <url-pattern>/searchScenery</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>TicketAddServlet</servlet-name>
        <servlet-class>servlet.TicketAddServlet</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>TicketAddServlet</servlet-name>
        <url-pattern>/addTicket</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TicketDeleteServlet</servlet-name>
        <servlet-class>servlet.TicketDeleteServlet</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>TicketDeleteServlet</servlet-name>
        <url-pattern>/deleteTicket</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>TicketUpdateServlet</servlet-name>
        <servlet-class>servlet.TicketUpdateServlet</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>TicketUpdateServlet</servlet-name>
        <url-pattern>/updateTicket</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TicketSearchServlet</servlet-name>
        <servlet-class>servlet.TicketSearchServlet</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>TicketSearchServlet</servlet-name>
        <url-pattern>/searchTicket</url-pattern>
    </servlet-mapping>
    
    
</web-app>