body{
    font-size: 12px;
    font-family: Arial;
}
a{
    color:#999;
}
.redColor{
    color: #C40000 !important;
}
nav.top{
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom:1px solid  #e7e7e7;
}
nav.top span, nav.top a{
    color: #999;
    margin: 0px 10px 0px 10px;
}
nav.top a:hover{
    color: #C40000;
    text-decoration: none;
}
div.searchDiv{
    background-color: #C40000;
    width: 400px;
    margin: 50px auto;
    padding: 1px;
    height: 40px;
    display: block;
}
div.searchDiv input{
    width: 275px;
    border: 1px solid transparent;
    height: 36px;
    margin: 1px;
    outline:none;
}
div.searchDiv button{
    width: 110px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
div.searchBelow{
    margin-top: 3px;
    margin-left: -20px;
}
div.searchBelow span{
    color: #999;
}
div.searchBelow a{
    padding: 0px 20px 0px 20px;
    font-size: 14px;
     color:#999;
}
img.logo{
    position: absolute;
    left: 0px;
    top: 30px;
    z-index:-1;
}
div.categoryPageDiv{
    max-width: 1013px;
    margin: 10px auto;
}
div.categorySortBar{
    background-color: #FAF9F9;
    margin: 40px 20px 20px 20px;
    padding: 4px;
}
table.categorySortBarTable{
    border-collapse: collapse;
    display:inline-block;
}
table.categorySortBarTable span.glyphicon{
    font-size: 10px;
}
table.categorySortBarTable td{
    height:17px;
    font-size:12px;
    border:1px solid #CCCCCC;
    padding:3px;
}
table.categorySortBarTable td.grayColumn{
    background-color: #F1EDEC;
}
table.categorySortBarTable td a{
    color: #806F66;
}
table.categorySortBarTable td a:hover{
    color: #C40000;
}
table.categorySortBarTable input{
    border-width: 0px;
    height: 15px;
    width: 50px;
}
table.categorySortBarTable td.priceMiddleColumn{
    width: 5px;
    vertical-align: middle;
    color: #CCCCCC;
}
table.categorySortTable td:hover{
    background-color: #F1EDEC;
}
body{
    font-size: 12px ;
    font-family: Arial;
}
div.footer{
    margin: 0px 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
}
div.footer_ensure{
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}
div.footer_desc{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
    padding-top: 30px;
    margin: 0px 20px;
}
div.footer_desc div.descColumn{
    width: 20%;
    float: left;
    padding-left: 15px;
}
div.footer_desc div.descColumn span.descColumnTitle{
    color: #646464;
    font-weight: bold;
    font-size: 16px;
}
div.footer_desc a{
    display: block;
    padding-top: 3px;
}
body{
    font-size: 12px;
    font-family: Arial;
}
a{
    color:#999;
}
a:hover{
    text-decoration:none;
    color: #C40000;
}
body{
    font-size: 12px;
    font-family: Arial;
}
div.categoryPageDiv{
    max-width: 1013px;
    margin: 10px auto;
}
div.categoryProducts{
    padding: 0px 20px 40px 20px;
}
div.productUnit{
    width: 225px;
    height: 338px;
    border: 3px solid #fff;
    background-color: white;
    margin: 12px 5px;
    float: left;
}
div.productUnit:hover{
    border:3px solid #C40000;
}
div.productUnitFrame{
    border:1px solid #eee;
    height:100%;
}
div.productUnitFrame:hover{
    border:1px solid #C40000;
}
div.productUnit img.productImage{
    width: 100%;
    height: 190px;
}
div.productUnit span.productPrice{
    font-size: 20px;
    color: #CC0000;
    display: block;
    padding-left: 4px;
}
div.productUnit a.productLink{
    margin: 10px 0px;
    color: #333333;
    display: block;
    height:34px;
}
div.productUnit a.productLink:hover{
    text-decoration: underline;
    color: #C40000;
}
div.productUnit a.tmallLink{
    margin: 10px 0px;
    color: #999999;
    display:block;
    text-decoration: underline;
}
div.productUnit a.tmallLink:hover{
    text-decoration: underline;
    color: #C40000;
}
div.productUnit div.productInfo{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EEEEEE;
    color:#999999;
}
div.productUnit span.productDealNumber{
    font-weight: bold;
    color: #B57C5B;
}
div.productUnit span.productReview{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #EEEEEE;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #EEEEEE;
}
div.productUnit span.productReviewNumber{
    font-weight: bold;
    color: #3388BB;
}
div.productUnit span.monthDeal, div.productUnit span.productReview{
    display: inline-block;
    width: 90px;
    height:29px;
    padding-top: 5px;
    padding-left: 5px;
}
div.productUnit span.wangwang{
    padding-left: 3px;
}
div.footer{
    margin: 0px 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
}
div.copyright{
    background-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #C40000;
}
div.copyright span.slash{
    color: white;
}
div.footer div.copyright div.white_link a{
    color: white;
    padding: 0px 5px;
}
div.footer div.copyright div.white_link{
    padding: 10px 0px;
    margin-left: 10px;
}
div.license{
    margin-left: 10px;
    padding-bottom: 30px;
}
div.license span{
    color: #A4A4A4;
}
div.license div.copyRightYear{
    margin: 10px 0px;
    color: #686868;
}
img.cateye{
    margin-left: 20px;
}
body{
    font-size: 12px;
    font-family: Arial;
}