<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>servlet.UserAddServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>servlet.UserUpdateServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserpwServlet</servlet-name>
        <servlet-class>servlet.UserpwServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>UserpwServlet</servlet-name>
        <url-pattern>/updatepw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>servlet.UserListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/getUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>servlet.UserDeleteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessListServlet</servlet-name>
        <servlet-class>servlet.MessListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>MessListServlet</servlet-name>
        <url-pattern>/ShowMess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessAddServlet</servlet-name>
        <servlet-class>servlet.MessAddServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>MessAddServlet</servlet-name>
        <url-pattern>/addMess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessListServlete</servlet-name>
        <servlet-class>servlet.MessListServlete</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>MessListServlete</servlet-name>
        <url-pattern>/getMess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessDeleteServlet</servlet-name>
        <servlet-class>servlet.MessDeleteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>MessDeleteServlet</servlet-name>
        <url-pattern>/deleteMess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActListServlet</servlet-name>
        <servlet-class>servlet.ActListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ActListServlet</servlet-name>
        <url-pattern>/ShowAct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActListServlete</servlet-name>
        <servlet-class>servlet.ActListServlete</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ActListServlete</servlet-name>
        <url-pattern>/getAct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActDeleteServlet</servlet-name>
        <servlet-class>servlet.ActDeleteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ActDeleteServlet</servlet-name>
        <url-pattern>/deleteAct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActAddServlet</servlet-name>
        <servlet-class>servlet.ActAddServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ActAddServlet</servlet-name>
        <url-pattern>/addAct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicAddServlet</servlet-name>
        <servlet-class>servlet.TicAddServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>TicAddServlet</servlet-name>
        <url-pattern>/addTic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageServlet</servlet-name>
        <servlet-class>servlet.ManageServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ManageServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IsLoginServlet</servlet-name>
        <servlet-class>servlet.IsLoginServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>IsLoginServlet</servlet-name>
        <url-pattern>/islogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuitServlet</servlet-name>
        <servlet-class>servlet.QuitServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>QuitServlet</servlet-name>
        <url-pattern>/quit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicListServlet</servlet-name>
        <servlet-class>servlet.TicListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>TicListServlet</servlet-name>
        <url-pattern>/ShowTic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicListServlete</servlet-name>
        <servlet-class>servlet.TicListServlete</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>TicListServlete</servlet-name>
        <url-pattern>/getTic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TicDeleteServlet</servlet-name>
        <servlet-class>servlet.TicDeleteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>TicDeleteServlet</servlet-name>
        <url-pattern>/deleteTic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserPromoteServlet</servlet-name>
        <servlet-class>servlet.UserPromoteServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>UserPromoteServlet</servlet-name>
        <url-pattern>/promoteUser</url-pattern>
    </servlet-mapping>
</web-app>